body {
    text-align:center;
    background-image: url(images/food.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin:0;  
    
}

.menu {
    background-color: bisque;
    width:50%;
    margin-left: auto;
    margin-right: auto;
}

hr {
    display:inline-block;
    width:50%;
}
