body {
    
    background-image: url(images/food.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin:0;  
    
}

.menu {
    background-color: bisque;
    width:50%;
    margin-top: 15px;
    margin-bottom:15px;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    padding:10px;
}

hr {
    
    width:50%;
   
}


h1,h2,.para {
    text-align: center;
}

.cuisines, .flavor {
    text-align: left;
    
    width:70%
}
 .prices {
    text-align:right;
   
    width:30%;
    
 }

 .items p {
    display:inline-block;
 }




 




